*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
height:100vh;
overflow:hidden;
background:#021526;
color:white;
}

/* OCEANO CAMERA */
.ocean{
position:fixed;
width:120%;
height:120%;
background:radial-gradient(circle at center,#043a5b,#010b18);
animation:camera 20s ease-in-out infinite alternate;
z-index:-3;
}

@keyframes camera{
0%{transform:scale(1)}
100%{transform:scale(1.05)}
}

/* LUZ */
.sunlight{
position:fixed;
width:100%;
height:100%;
background:linear-gradient(180deg,
rgba(255,255,255,0.15),
transparent 40%);
animation:lightmove 8s linear infinite;
z-index:-2;
}

@keyframes lightmove{
0%{transform:translateY(-20px)}
100%{transform:translateY(20px)}
}

/* BOLHAS */
.bubbles span{
position:absolute;
bottom:-50px;
width:12px;
height:12px;
background:white;
border-radius:50%;
opacity:0.5;
animation:rise linear infinite;
}

.bubbles span:nth-child(1){left:10%; animation-duration:10s}
.bubbles span:nth-child(2){left:20%; animation-duration:8s}
.bubbles span:nth-child(3){left:30%; animation-duration:12s}
.bubbles span:nth-child(4){left:40%; animation-duration:9s}
.bubbles span:nth-child(5){left:60%; animation-duration:11s}
.bubbles span:nth-child(6){left:70%; animation-duration:7s}
.bubbles span:nth-child(7){left:80%; animation-duration:10s}
.bubbles span:nth-child(8){left:90%; animation-duration:9s}

@keyframes rise{
0%{transform:translateY(0)}
100%{transform:translateY(-110vh)}
}

/* PEIXES */
.fish{
position:absolute;
width:120px;
opacity:0.85;
animation:swim linear infinite;
}

@keyframes swim{
0%{transform:translateX(120vw)}
100%{transform:translateX(-200px)}
}

/* DISTANCIA */
.far{width:70px; opacity:0.4}
.mid{width:110px; opacity:0.7}
.near{width:150px; opacity:1}

/* VELOCIDADE */
.slow{animation-duration:45s}
.fast{animation-duration:18s}

/* AGUA VIVA */
.jelly{
position:absolute;
top:50%;
width:130px;
opacity:0.7;
animation:float 6s ease-in-out infinite;
}

.delay{
animation-delay:3s;
}

@keyframes float{
0%,100%{transform:translateY(0)}
50%{transform:translateY(-30px)}
}

/* CONTEUDO */
.content{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
background:rgba(0,0,0,0.35);
padding:40px;
border-radius:20px;
backdrop-filter:blur(15px);
}

/* LOGO REDONDA */
.logo{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
margin-bottom:20px;
box-shadow:0 0 25px #5adfff;
}

/* LINKS */
.links{
margin-top:20px;
display:flex;
gap:10px;
justify-content:center;
flex-wrap:wrap;
}

.links a{
text-decoration:none;
color:white;
background:linear-gradient(45deg,#00c6ff,#0072ff);
padding:10px 18px;
border-radius:12px;
font-weight:bold;
transition:0.3s;
}

.links a:hover{
transform:scale(1.1);
}